@model IEnumerable<AdvanceULB_CMS.Models.STDModel>

@{
    ViewData["Title"] = "GetSTD";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get STD's</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fe;
        }

        .container {
            padding: 20px;
        }

        .table {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .table thead th {
                background-color: #007bff;
                color: #fff;
                border: none;
            }

            .table tbody tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .table tbody tr:hover {
                background-color: #e2e2e2;
            }
    </style>
</head>
<body>

    <div class="container">
        <h1 class="mb-4">STD List</h1>
        <p>
            <a href="@Url.Action("CreateULB", "ULB")" class="btn btn-primary">Create ULB</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>App ID</th>
                    <th>App Name</th>
                    <th>State</th>
                    <th>Tehsil</th>
                    <th>District</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(Model => item.appId)</td>
                        <td>@Html.DisplayFor(Model => item.appName)</td>
                        <td>@Html.DisplayFor(Model => item.State)</td>
                        <td>@Html.DisplayFor(Model => item.Tehsil)</td>
                        <td>@Html.DisplayFor(Model => item.District)</td>
                        <td><a href="@Url.Action("UpdateSTD", "ULB", new { appId = item.appId, server = item.server })">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
