@model IEnumerable<AdvanceULB_CMS.Models.ULBData>

@{
    ViewData["Title"] = "GetULBs";
}
<p>
    @Html.ActionLink("Create ULB", "CreateULB", "ULB")
</p>
<h1>GetULBs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appName)
            </td>
        </tr>
}
    </tbody>
</table>
