@model AdvanceULB_CMS.Models.PropertyCounts

@{
    ViewData["Title"] = "UpdateAppDetails";
}

<h1>Update App Details</h1>

@if (Model != null)
{
    <form method="post" action="@Url.Action("Update", "ULB", new { appId = Model.appId, server = Model.server })">
    <input type="hidden" name="appId" value="@Model.appId" />
    <input type="hidden" name="server" value="@Model.server" />
    @*<input type="hidden" name="server" value="local" /> *@
 
        <div class="form-group">
            <label for="apiHit">API Hit:</label>
            <input type="number" class="form-control" id="apiHit" name="apiHit" value="@Model.apiHit" required />
        </div>

        <div class="form-group">
            <label for="ulbProperty">ULB Property:</label>
            <input type="number" class="form-control" id="ulbProperty" name="ulbProperty" value="@Model.ulbProperty" required />
        </div>

        <div class="form-group">
            <label for="addUlbProperty">Add ULB Property:</label>
            <input type="number" class="form-control" id="addUlbProperty" name="addUlbProperty" value="@Model.addUlbProperty" required />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
}
else
{
    <p>Error: Unable to load application details.</p>
}
